/*  your css code here. If applicable */
body{
  font-family: Arial;
  padding: 20px;
}

#output{
  display: flex;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

#output img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

#error{
  color: red;
  margin-top: 20px;
}

.spinner{
  width: 60px;
  height: 60px;

  border: 6px solid lightgray;
  border-top: 6px solid blue;

  border-radius: 50%;

  animation: spin 1s linear infinite;

  margin-top: 20px;
}

@keyframes spin{

  from{
    transform: rotate(0deg);
  }

  to{
    transform: rotate(360deg);
  }

}